## <center style="color:blue;">**SparkAttriNet**</center>

Dans le secteur bancaire, anticiper la perte de clients est essentiel pour réduire le taux d’attrition et renforcer la fidélisation. 

Ce projet exploite la puissance de PySpark pour analyser de grands volumes de données, MLlib pour entraîner un modèle prédictif, MongoDB pour stocker les données transformées, et Streamlit pour visualiser les résultats et faciliter la prise de décision.

<br>

### <span style="color:green;">**Chargement des Données Nécessaire :**</span>

In [ ]:
import joblib

df = joblib.load("../utils/df_scaled.pkl")
train_df = joblib.load("../utils/train_df.pkl")
test_df = joblib.load("../utils/test_df.pkl")

                                         scaled_features  Exited
0      [1.0732410343916199, -1.0189022035876123, -0.3...       1
1      [1.0732410343916199, 1.623344785208039, -0.449...       0
2      [1.0732410343916199, -1.0189022035876123, -1.6...       1
3      [1.0732410343916199, -1.0189022035876123, 0.54...       0
4      [1.0732410343916199, 1.623344785208039, 2.1985...       0
...                                                  ...     ...
15913  [-0.9965472758999997, -0.9764411941798411, -0....       1
15914  [-0.04330050202358865, -0.387549623658877, 0.1...       1
15915  [-0.4823130063121688, -0.057920548926326754, -...       1
15916  [-0.27250713995341386, -1.0189022035876123, 1....       1
15917  [-0.6710042271854935, 0.3022212908102134, 2.04...       1

[15918 rows x 2 columns]

In [ ]:
from pyspark.ml.classification import LogisticRegression

lr = LogisticRegression(
    featuresCol="scaled_features",
    labelCol="Exited",
    maxIter=100,
    regParam=0.01
)